<p>
	<%= f.label :name %>
	<%= f.text_field :developer %>
</p>

<p>
	<%= f.label :permalink %><%= f.text_field :permalink %>
</p>	

<p>
	<%= f.label :photo %><%= f.file_field :image %>
</p>	

<p>
	<%= f.label :description %>
	<%= f.text_area :description %>
</p>

<p>
	<%= f.label :hidden %>
	<%= f.check_box :hidden %>
</p>

<p><%= f.submit %></p>