<div class="gray_box">
	<div class="header">
		<h1>Developers</h1>	
	</div>
	<div class="content">
		<div class="developer">
		
			<% @developers.each do |d| %>
				
				<h3><a href="#"><%= d.developer %></a></h3>
				<div>
					<%= image_tag d.image.url, :class => "logo"	%>	
					<div class="details">
					<p><span>Details</span><br></>Loren ipsum dolor</p>	
					<ul><span>Projects</span>
						<% d.properties.each do |property| %>
						<li><%= link_to property.name, property_url(property) %>
							<%= link_to property.name, property_url(property), :class => "ui-icon ui-icon-newwin" %>
						</li>
						<% end %>
					</ul>
					</div>
				</div>
			<% end %>
		
		</div>
		
		<% if logged_in? %>
			<div class="links">
				<%= link_to 'New', new_developer_url %>
			</div>
		<% end %>
		
	</div>
	
	<div class="footer"></div>
</div>

<br>