<div class="gray_box">
	<div class="header">
		<h1>Developers</h1>	
	</div>
	<div class="content">
		<ul>
			<% @developers.each do |d| %>
			  	<li><%= link_to d.developer %></li>
			<% end %>
	  	</ul>	
	
		<br><br>
		
		<% @developers.each do |d| %>
		<div class="developer">
			<h2><%= d.developer %></h2><hr>
			<div class="logo"><%= image_tag d.image.url	%></div>
			<div class="details">
				<h3>Details</h3>
				<p>Loren ipsum dolor</p>
				
				<ul>
					<% d.properties.each do |p| %>
						<li><%= p.name %></li>
					<% end %>	
				</ul>
				
			</div>
			<div class="clear"></div>
		</div>	
		<% end %>
	
		<% if logged_in? %>
			<div class="links">
				<%= link_to 'New', new_developer_url %>
			</div>
		<% end %>
	</div>
	<div class="footer"></div>
</div>

<br>