<p>
	<%= f.label :title %><%= f.text_field :title %>
</p>

<p>
	<%= f.label :permalink %><%= f.text_field :permalink %>
</p>	

<p>
	<%= f.label :image %><%= f.file_field :article_photo %>
</p>	

<p>
	<%= f.label :caption %><%= f.text_field :article_photo_caption %>
</p>	

<p>
	<%= f.label :teaser %><%= f.text_field :teaser %>
</p>

<p>
	<%= f.label :body %><%= f.text_area :body %>
</p>

<p>
	<%= f.label :featured %><%= f.check_box :featured %>
</p>

<p>
	<%= f.label :published_date %><%= f.text_field :published_date %>
</p>	

<p>
	<%= f.label :published_at %><%= f.text_field :published_at %>	
</p>

<p>
	<%= f.submit 'Save' %>
</p>