<div class="gray_box">
	<div class="header">
		<h1>Upcoming Events</h1>
	</div>

	<div class="content">
		<% @articles.each do |article |%>
			<div class="articles">
				<h2><%= link_to article.title, article_url(article) %></h2>
				<% if article.teaser? %>
					<p class="teaser"><%= article.teaser %> <%= link_to '...', article_url(article) %></p>
				<% end %>
				<p class="published_on"><span>On <%= format_date(article.published_date) %> in <%= article.published_at %></span></p>
				
				<% if logged_in? %>
				<div class="links">
					<%= link_to 'Edit', edit_article_url(article) %>
					<%= link_to 'Delete', article_url(article), :method => :delete, :confirm => "Are you sure?" %>
				</div>
				<% end %>
			</div>	
		<% end %>
		
		<% if logged_in? %>
			<div class="links">
				<%= link_to 'New', new_article_url %>
			</div>	
		<% end %>
		
	</div>
	
	<div class="footer"></div>
	
</div>
