<div class="blue">
	<div class="main_content">
		<h1>News/Events</h1>
		
		<div class="left">
		<% @articles.each do |article |%>
			<div class="articles">
				<h2><%= link_to article.title, article_url(article) %></h2>
				<% if article.teaser? %>
					<p class="teaser"><%= article.teaser %> <%= link_to '...', article_url(article) %></p>
				<% end %>
				<p class="published_on">
				<% if article.published_date? %>
				<span>On <%= format_date(article.published_date) %>
				<% end %>
				<% if article.published_at? %>
				 In <%= article.published_at %></span>
				<% end %>
				</p>
				<% if logged_in? %>
				<div class="links">
					<%= link_to 'Edit', edit_article_url(article) %>
					<%= link_to 'Delete', article_url(article), :method => :delete, :confirm => "Are you sure?" %>
				</div>
				<% end %>
			</div>	
		<% end %>
		
		<% if logged_in? %>
			<div class="links">
				<%= link_to 'New', new_article_url %>
			</div>	
		<% end %>
		</div>
		
		<div class="right">
			<%= render :partial => 'shared/featured_news' %><br/>
			<%= render :partial => 'shared/search_form' %>
		</div>
		
	
</div>
</div></div>