<% content_for :head do %>
<%= stylesheet_link_tag 'jquery-ui-1.7.3.custom'%>
<%= javascript_include_tag 'jquery-1.4.2.min.js','jquery-ui-1.7.3.custom.min' %>
<% end %>

<script>
	$(function(){
		$("#tabs").tabs();
	});
</script>

<div class="blue">
<div class="main_content">
	
	<h1>Settings</h1>	

		
	<div class="content">
		
		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">Featured</a></li>
				<li><a href="#tabs-2">Edit Form</a></li>
				<li><a href="#tabs-3">Building Perspectives</a></li>
				<li><a href="#tabs-4">Locations</a></li>
				<li><a href="#tabs-5">Price Range</a></li>
				<li><a href="#tabs-5">Users</a></li>
			</ul>
			
			<div id="tabs-1">
				<%= render :partial => 'featured' %>
			</div>
			
			<div id="tabs-2">
				<%= render :partial => 'settings_form' %>
			</div>
			
			<div id="tabs-3">
				<%= render :partial => 'perspectives' %>
			</div>	
		
			<div id="tabs-4">
				<%= render :partial => 'locations' %>
			</div>
	
			<!--div class="links">
				<%# link_to 'Edit', edit_settings_url %>
			</div-->
	
			<div id="tabs-5">
				<%= render :partial => 'price_range' %>	
			</div>
			
			<div id="tabs-6">
			</div>
			
		</div>
		</div>
		<div class="footer" id="full"></div>
	
</div></div>
<br	>