<div class="gray_box">
	
	<div class="header">
		<h1>&nbsp;</h1>	
	</div>
	
	<div class="content property">
		<h2><%= @pre_owned.name %></h2>
		
		<br>
		
		<div class="details">
			<div>
				<%= label_tag :description %>
				<p><%= @pre_owned.description %></p>
			</div>	
		
			<% if false %>
			<div>
				<%= label_tag :developer %>
				<p class="indented"><%= @pre_owned.developer_name %></p>
			</div>
			<% end %>
			
			<div>
				<%= label_tag :address %>
				<p class="indented"><%= @pre_owned.address %></p>
			</div>
			
			<% if false %>
			<div>
				<%= label_tag :location %>
				<p class="indented"><%= @pre_owned.location %></p>
			</div>
			<% end %>
			
			<% if false %>
			<div>
				<%= label_tag :completed %>
				<p class="indented"><%= @pre_owned.completed %></p>
			</div>
			
			<div>
				<%= label_tag :target_completion_date %>
				<p class="indented"><%= @pre_owned.target_completion_date %></p>
			</div>
			<% end %>
			
			<div>
				<%= label_tag :unit_type %>
				<p class="indented"><%= @pre_owned.unit_type.capitalize %></p>
			</div>
			
			<div>
				<%= label_tag :unit_size %>
				<p class="indented"><%= @pre_owned.unit_size %></p>
			</div>
			
			<div>
				<%= label_tag :unit_price %>
				<p class="indented"><%= number_to_currency(@pre_owned.unit_price, :unit => "P ", :precision => 0) %></p>
			</div>
			
			<div>
				<%= label_tag :type %>
				<p class="indented"><%= @pre_owned.property_type %></p>
			</div>
			
			<% if logged_in? %>
			<div>
				<%= label_tag :owner %>
				<p class="indented"><%= @pre_owned.owner %></p>
			</div>
			
			<div>
				<%= label_tag :email_address %>
				<p class="indented"><%= @pre_owned.email_address %></p>
			</div>
			
			<div>
				<%= label_tag :contact_info %>
				<p class="indented"><%= @pre_owned.contact_info %></p>
			</div>
			
			<div>
				<%= label_tag :hidden %>
				<p class="indented"><%= @pre_owned.hidden %></p>
			</div>
			<% end %>
			
		</div>
		
		<div class="clear"></div>
	
		<% if logged_in? %>
			<div class="links">
				<%= link_to 'Edit', edit_pre_owned_condo_url(@pre_owned) %> <%= link_to 'Delete', pre_owned_condo_url(@pre_owned), :method => :delete, :confirm => 'Are you sure?' %>
			</div>
		<% end %>	
		
		<div class="pre_owned_inquiry clear">
			<h2>Inquire About This Property</h2>
			<% form_for @contact do |f| %>
				<%= f.error_messages %>
				<%= f.hidden_field :subject, :value => @pre_owned.name %>
				<%= hidden_field_tag :from,  "#{@pre_owned.permalink}" %>
				<p><label>Your Full Name</label><%= f.text_field :name%></p>
				<p><label>Contact Number</label><%= f.text_field :contact_no %></p>
				<p><label>Email Address</label><%= f.text_field :email%></p>
				<p><label>Your Message</label>
						<%= f.radio_button :reason, "Schedule" %>Schedule viewing of model/scale unit
						<br><%= f.radio_button :reason, "Inquire",  :style => "margin-left:150px;clear:left;" %>Inquire about this property
						<%= f.text_area :message %>
				</p>
				<%# recaptcha_tags %>
				<p><%= f.submit 'Send' %></p>
			<% end %>
		</div>	
		
		
	</div>
	
	<div class="footer"></div>	
	
	
</div>

<br>