<% content_for :property_listings do %>
<div class="gray_border properties">
<h1>Properties</h1><br>

<table id="properties">
	<thead>
		<tr style="height:20px;">
			<th>Name</th>
			<th>Developer</th>
			<th>Location</th>
			<th>Unit Types</th>
			<th>Unit Sizes</th>
			<th>Price Range</th>
			<th>Target Completion Date</th>
			<% if logged_in? %>
			<th>Actions</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
	<% @properties.each do |property| %>
	<tr>
		<td class="left" style="padding-left:5px"><%= link_to property.name, property_url(property) %></td>
		<td class="center" width="150px"><%= property.developer_name %></td>
		<td class="center" width="150px"><%= property.location %></td>
		<td class="center" width="100px"><%= show_all_unit_types(property.all_unit_types) %></td>
		<td class="center" width="90px"><%= property.unit_sizes %></td>
		<td class="center" width="110px"><%= property.price_range %></td>
		<td class="center" width="160px"><%= property.completion_date %></td>
		<% if logged_in? %>
		<td class="center" width="100px">
			<%= link_to 'Show', property_url(property) %>
			<%= link_to 'Edit', edit_property_url(property) %>
			<%= link_to 'Delete', property_url(property), :method => :delete, :confirm => "Are you sure?" %>
		</td>
		<% end %>
	</tr>
	<% end %>
	</tbody>
</table>
</div>

	<% if logged_in? %>
	<div class="links">
		<%= link_to 'New', new_property_url %>
	</div>
	<% end %>

<% end %>
