<% content_for :property_listings do %>
<h1>Properties</h1>

<table id="properties">
	<thead>
		<tr>
			<th>Name</th>
			<th>Developer</th>
			<th>Location</th>
			<th>Unit Types</th>
			<th>Unit Sizes</th>
			<th>Price Range</th>
			<th>Target Completion Date</th>
			<% if logged_in? %>
			<th>Actions</th>
			<% end %>
		</tr>
	</thead>
	<% @properties.each do |property| %>
	<tr>
		<td class="center"><%= link_to property.name, property_url(property) %></td>
		<td class="center" width="120px"><%= property.developer_name %></td>
		<td class="center" width="120px"><%= property.location %></td>
		<td class="center" width="100px"><%= show_all_unit_types(property.all_unit_types) %></td>
		<td class="center" width="90px"><%= property.unit_sizes %></td>
		<td class="center" width="110px"><%= property.price_range %></td>
		<td class="center" width="160px"><%= property.completion_date %></td>
		<% if logged_in? %>
		<td class="center" width="100px">
			<%= link_to 'Show', property_url(property) %>
			<%= link_to 'Edit', edit_property_url(property) %>
			<%= link_to 'Delete', property_url(property), :method => :delete, :confirm => "Are you sure?" %>
		</td>
		<% end %>
	</tr>
	<% end %>
</table>


<% if logged_in? %>
<div class="links">
	<%= link_to 'New', new_property_url %>
</div>
<% end %>
<% end %>