<div id="floor_plans" style="visibility:hidden;height:0;padding:0;">
  <ul>
    <% if !@property.studio_layout_file_name.nil? %>
    <li>
      <a href="<%= @property.studio_layout.url %>" title="Studio Floor Plan"></a>
    </li>
    <% end %>
  
  	<% if !@property.one_bedroom_layout_file_name.nil? %>
    <li>
      <a href="<%= @property.one_bedroom_layout.url %>" title="One Bedroom Floor Plan"></a>
    </li>
	<% end %>
    
	<% if !@property.two_bedroom_layout_file_name.nil? %>
    <li>
      <a href="<%= @property.two_bedroom_layout.url %>" title="Two Bedroom Floor Plan"></a>
    </li>
	<% end %>
    
	<% if !@property.three_bedroom_layout_file_name.nil? %>
    <li>
      <a href="<%= @property.three_bedroom_layout.url %>" title="Three Bedroom Floor Plan"></a>
    </li>
    <% end %>
	
	<% if !@property.penthouse_layout_file_name.nil? %>
    <li>
      <a href="<%= @property.penthouse_layout.url %>" title="Penthouse Floor Plan"></a>
    </li>
	<% end %>
  </ul>
</div>

<% if !@property.location_map_file_name.nil? || !@property.photo_file_name.nil? %>
<div id="location_map" style="visibility:hidden;height:0;padding:0;">
	<ul>
		<% if !@property.location_map_file_name.nil? %>
		<li>
			<a href="<%= @property.location_map.url %>" title="Location Map"></a>	
		</li>
		<% end %>
		
		<% if !@property.photo_file_name.nil? %>
		<li>
			<a href="<%= @property.photo.url %>" title="<%= @property.name %>"></a>
		</li>
		<% end %>
	</ul>
</div>	
<% end %>
