<div id="gallery">
	<ul>
		<li>
			<a href="/images/avalon/1.jpg" title='test'>
				<%= image_tag '/images/avalon/1.jpg' %>
			</a>
		</li>
		<li>
			<a href="/images/avalon/2.jpg" title='test'>
				<%= image_tag '/images/avalon/2.jpg' %>
			</a>
		</li>
		<li>
			<a href="/images/avalon/3.jpg" title='test'>
				<%= image_tag '/images/avalon/3.jpg' %>
			</a>
		</li>
		<li>
			<a href="/images/avalon/4.jpg" title='test'>
				<%= image_tag '/images/avalon/4.jpg' %>
			</a>
		</li>
		<li>
			<a href="/images/avalon/5.jpg" title='test'>
				<%= image_tag '/images/avalon/5.jpg' %>
			</a>
		</li>
		<li>
			<a href="/images/avalon/6.jpg" title='test'>
				<%= image_tag '/images/avalon/6.jpg' %>
			</a>
		</li>
		<li>
			<a href="/images/avalon/7.jpg" title='test'>
				<%= image_tag '/images/avalon/7.jpg' %>
			</a>
		</li>
		<li>
			<a href="/images/avalon/8.jpg" title='test'>
				<%= image_tag '/images/avalon/8.jpg' %>
			</a>
		</li>
	</ul>
</div>