<h3>Highlights </h3>

<%= label_tag :developer %><p><%= @property.developer_name %></p>
<%= label_tag :location %><p><%= @property.location %></p>
<% if @property.has_address? %>
  <%= label_tag :address %><p><%= @property.address %></p>
<% end %>

<% if @property.has_target_completion_date? %>
  <%= label_tag :est_delivery_date %><p><%= @property.target_completion_date %></p>
<% end %>

<%= label_tag :type %><p><%= @property.property_type %></p>
<%= label_tag :no_of_floors%><p><%= @property.no_of_floors%></p>
<%= label_tag :no_of_bldgs%><p><%= @property.no_of_bldgs%></p>
<br/><br/>

<%#= label_tag :unit_types %><br/>
<%#= display_unit_info(@property.all_unit_info) %>
<!--p class="indented">
<a href="#" id="floor_plans" class="ui-icon ui-icon-newwin" title="Click to view layouts"></a>
<a href="#" id="floor_plans" class="small" title="Click to view layouts">View layouts</a>
</p-->

<br/>

<% if @property.has_amenities? %>
  <h3>Amenities</h3>
  <%= @property.amenities%>
<% end %>

<br/>

<% if @property.has_unit_specifications? %>
  <h3>Unit Specifications</h3>
  <%= @property.unit_specifications %>
<% end %>

<br/>

<% if @property.has_reservation_fee? %>
	<%= label_tag :reservation_fee %><p><%= @property.reservation_fee %></p>
<% end %>
		
<%#= render :partial => 'floor_plans' %>
	
		
<% if logged_in? %>
	<p><%= label_tag :featured %><%= @property.featured %></p>
	
	<p><%= label_tag :hidden %><%= @property.hidden %></p>
	
	<p><%= label_tag :sold_out %><%= @property.sold_out %></p>
	
	<p><%= label_tag :preselling %><%= @property.preselling %></p>
	
	<div class="links">
		<%= link_to 'Edit', edit_property_url(@property) %> |
		<%= link_to 'Delete', property_url(@property), :method => :delete, :confirm => "Are you sure?" %> |
		<%= link_to 'Gallery', property_gallery_url(@property) %>
	</div>	
<% end %>