		<%#= image_tag @property.photo.url(:medium) %>
		<%#= image_tag @property.logo.url(:medium) %>
		<%#= image_tag @property.location_map.url(:medium) %>
		<%#= image_tag @property.studio_layout.url(:medium) %>
		<%#= image_tag @property.one_bedroom_layout.url(:medium) %>
		<%#= image_tag @property.two_bedroom_layout.url(:medium) %>
		<%#= image_tag @property.three_bedroom_layout.url(:medium) %>
		<%#= image_tag @property.penthouse_layout.url(:medium) %>

		
		<div>
			<%= label_tag :description %><br>
			<div class="logo"><%= image_tag @property.logo.url %></div>
			<p><%= @property.description%></p>
		</div>
		
		<div>
		  <%= label_tag :developer %>
		  <p class="indented"><%= @property.developer_name %></p>
		</div>	
		
		<div>  
		  <%= label_tag :location %>
		  <p  class="indented"><%= @property.location %> <%= link_to '>>' %></p>
		</div>  
		
		<div>  
		  <%= label_tag :address %>
		  <p class="indented"><%= @property.address %></p>
		</div>
		
		<div>
			<%= label_tag :target_completion_date %>
			<p  class="indented"><%= @property.target_completion_date %></p>
		</div>
		
		<div>
			<%= label_tag :unit_types %><br>
			<%= display_unit_info(@property.all_unit_info) %>
			<p class="indented"><%= link_to '>> View floor plans' %></p>
		</div>	
		
		<%#= label_tag :unit_types %>
		<%#= display_all_unit_types(@property.all_unit_types) %>
		
		<%#= label_tag :unit_sizes %>
		<%#= display_all_unit_prices(@property.all_unit_prices) %>
		
		<div>
			<%= label_tag :price_range %>
			<p class="indented"><%= @property.price_range %></p>
		</div>	
		
		<div>
			<%= label_tag :amenities %><br>
			<%= @property.amenities%>
		</div>
		
		<div>
			<%= label_tag :unit_specifications %><br>
			<%= @property.unit_specifications %>
		</div>
		
		<div>
			<%= label_tag :payment_terms %><br>
			<%= @property.payment_terms %>
		</div>
		
		<div>
			<%= label_tag :as_low_as %>
			<p><%= @property.as_low_as %></p>
		</div>	
		
		<div>
			<%= label_tag :reservation_fee %>
			<p><%= @property.reservation_fee %></p>
		</div>
		
		<% if logged_in? %>
			<p><%= label_tag :hidden %><%= @property.hidden %></p>
			
			<div class="links">
				<%= link_to 'Edit', edit_property_url(@property) %> |
				<%= link_to 'Delete', property_url(@property), :method => :delete, :confirm => "Are you sure?" %>
			</div>	
		<% end %>