<% content_for :property_listings do %>

<div class="properties">

<div class="gray_box">
	<div class="header property_tab" id="full_page">
		<h1> 
            &nbsp;
			<ul class="submenu">
				<li><%= link_to_unless_current 'Information', property_url(@property) %></li>
				<% if @property.has_gallery? | logged_in? %>
				<li><%= link_to_unless_current 'Gallery', property_gallery_url(@property) %></li>
				<% else %>
				<li style="color:#b6b6b6;font-weight:normal;">Gallery</li>
				<% end %>
			</ul>
		</h1>	
	</div>

	<div class="content property">
		<h1 class="property_name"><span style="float:left;"><%= @property.name %></span>
			<a href="#" id="property_photo" class="ui-icon ui-icon-newwin" title="Click to view photo"></a>
			<br>
			<% if @property.logo_file_name? %>
			<div class="logo"><%= image_tag @property.logo.url(:thumb) %></div>
			<% end %>
		</h1>
		
		
		<h3 class='tagline'>
			<% if @property.has_tagline? %>
			Own a unit for as low as <%= number_to_currency(@property.as_low_as, :unit => "P ", :precision => 0) %><%= @property.as_low_as_label %>
			<% end %>
		</h3>
		
		
		<div class="details">
			<%= render :partial => "#{@partial}" %>
		</div>
		
		<div class="clear"></div>
		

		<div class="inquiry clear">
			<h2>Inquire About This Property</h2>
			<% form_for @contact do |f| %>
				<%= f.error_messages %>
				<%= f.hidden_field :subject, :value => @property.name %>
				<p><label>Your Full Name</label><%= f.text_field :name%></p>
				<p><label>Contact Number</label><%= f.text_field :contact_no %></p>
				<p><label>Email Address</label><%= f.text_field :email%></p>
				<p><label>Your Message</label><%= f.text_area :message %></p>
				<%= recaptcha_tags %>
				<p><%= f.submit 'Send' %></p>
			<% end %>
		</div>	
	</div>
	<div class="footer" id="full"></div>	
</div>
</div>
	
<br>

<% end %>