<% if !@featured_articles.empty? %>
<div class="featured_news boxes gray_box">
	<div class="header" id="third_column">
		<h1>Upcoming Events</h1>	
	</div>
	
	<div class="content">
	<ul>
		<li>
			<% @featured_articles.each do |a| %>
				<p class="title">
					<%= link_to a.title, article_url(a)  %>
					<%= link_to '', article_url(a), :class => "ui-icon ui-icon-newwin" %>
				</p>
				<p class="published_on">
					<% if a.teaser? %>
						<span class="teaser"><%= a.teaser %></span><br>
					<% end %>
					<span>On <%= format_date(a.published_date) %> in <%= a.published_at %></span>
				</p>
				<p class="teaser"></p>
			<% end %>
		</li>
	</ul>	
	</div>
	<div class="footer" id="boxes"></div>
</div>
<% end %>