<% if !@featured_articles.empty? %>
<div class="featured_news">
	<div class="top"></div>
	<div class="mid">
	<h1>News/Events</h1>	
	<ul>
		<li>
			<% @featured_articles.each do |a| %>
				<%= link_to a.title, article_url(a)  %>
				<%= link_to '', article_url(a), :class => "ui-icon ui-icon-newwin" %><br/>
				<span>
				<% if a.published_date? %>
					On <%= format_date(a.published_date) %>
				<% end %>
				<% if a.published_at? %> 
				In <%= a.published_at %>
				<% end %>
				</span>
			<% end %>
		</li>
		<hr/>
	</ul>
	<div class="read_more">
		<%= link_to 'Read More', articles_url %>
	</div>
	</div>
	<div class="bottom"></div>
</div>
<% end %>