<div class="gray_box boxes">
	<div class="header" id="third_column">
		<h1>Subscribe To Our Mailing List</h1>	
	</div>
	<div class="content follow_us">
		<p>Fill in the form to be updated of the latest news, events and promotions</p>
	
		<% form_tag subscribe_url, :method => :post do |f| %>
			<p><%= label_tag :full_name %><%= text_field_tag :full_name %></p>
			<p><%= label_tag :email %><%= text_field_tag :email %></p>
			<p><%= submit_tag 'Subscribe' %></p>
		<% end %>
		
		<hr>
		
		<p>Or follow us on</p>
	
		<ul>
			<li><%= link_to 'Twitter', 'http://www.twitter.com/cebucondolists', :class => 'twitter' %></li>
			<%#= link_to 'Flickr', 'http://www.flickr.com/cebucondolistings', :class => 'flickr' %>
			<li><%= link_to 'Facebook', 'http://www.facebook.com/#!/pages/Cebu-Condo-Listings/157402274291728', :class => 'facebook' %></li>
		</ul>
	</div>	
	<div class="footer"></div>
</div>
