<div class="gray_box boxes">
	<div class="header" id="third_column">
		<h1>Subscribe To Our Mailing List</h1>	
	</div>
	<div class="content follow_us">
		<p>Fill in the form to be updated of the latest news, events and promotions</p>
	
		<% form_tag subscribe_url, :method => :post do |f| %>
			<p><%= label_tag :full_name %><%= text_field_tag :full_name %></p>
			<p><%= label_tag :email %><%= text_field_tag :email %></p>
			<p><%= submit_tag 'Subscribe' %></p>
		<% end %>
	</div>
	<div class="footer" id="boxes"></div>	
</div>		

<div class="gray_box boxes">
	<div class="content follow_us" style="padding:5px 0;border-top:1px solid #ccc;">
				
		<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FCebu-Condo-Listings%2F157402274291728&amp;width=292&amp;colorscheme=light&amp;show_faces=false&amp;stream=false&amp;header=false&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:62px;" allowTransparency="true"></iframe>
		<p style="font-size:13px;font-weight:bold;text-align:center;padding:5px 10px;">"Like" us to be constantly updated of the latest condominium projects in Cebu.</p>
	</div>	
	<div class="footer" id="boxes"></div>
</div>

<div class="gray_box boxes">
	
	<div class="content follow_us" style="padding:5px 0;border-top:1px solid #ccc;">
		<%= link_to '', 'http://www.twitter.com/cebucondolists', {:class => 'twitter', :target => "_blank" } %>
	</div>	
	<div class="footer" id="boxes"></div>
</div>