<div class="search">
	<% form_tag :controller => 'properties', :action => 'search' do %>
		<p>
			<%= label_tag :location %><br/><%= select_tag "location", options_for_select(@search_location, @location), :multiple => false %>
		</p>
		<p>
			<%= label_tag :price_range %><br/><%= select_tag "price_range", options_for_select(@search_price, @pr) %>
		</p>
		<p>
			<%= label_tag :unit_type %><br/><%= select_tag "unit_type", options_for_select(@search_type, @unit_type), :multiple => false %>
		</p>
		<p>
			<%= label_tag :type %><br/><%= select_tag "type", options_for_select(@type, @prop_type) %>
		</p>
		<div class="search_button">
			<%= submit_tag 'Search' %>
		</div>
	<% end %>
	<br/>
	<p><b>For a list of all properties, click <%= link_to 'HERE', properties_url %></b></p>
</div>	