<div class="search boxes gray_border">
	<h1>Search</h1>
	<div class="box_content">
	<% form_tag :controller => 'properties', :action => 'search' do %>
		<p>
			<%= label_tag :location %><%= select_tag "location", options_for_select(@search_location), :multiple => false %>
		</p>
		<p>
			<%= label_tag :price_range %><%= select_tag "price_range", options_for_select(@search_price) %>
		</p>
		<p>
			<%= label_tag :unit_type %><%= select_tag "unit_type", options_for_select(@search_type), :multiple => false %>
		</p>
		<p>
			<%= label_tag :type %><%= select_tag "type", options_for_select(@type) %>
		</p>	
		<p><%= submit_tag 'Search' %></p>
		
	<% end %>
	<p>For a list of all properties, click <%= link_to 'here', properties_url %></p>
	</div>
</div>	