<%= render :partial => 'slider' %>

<div class="gray_box">
	<div class="header">
		<h1>Featured Properties</h1>	
	</div>
	<div class="content">
		<div id="featured">
		<ul>
			<% @properties.each do |p| %>
			<li>
				<h3><%= link_to p.name, property_url(p) %></h3>
				<div class="image"><%= link_to (image_tag p.photo.url(:thumb)), property_url(p) %></div>
				
				<div class="info">
					<div class="left">
						<p>Estimated delivery on: <br><%= p.target_completion_date %></p>
					</div>
					<div class="right">
						<p><%= p.as_low_as %>/mo*</p>
					</div>		
				</div>	
				
			</li>
			<% end %>
			<div class="clear"></div>
		</ul>
		</div>
	</div>
	<div class="footer"></div>
</div>