<% content_for :spotlight do %>
<script type="text/javascript">
  jQuery(document).ready(function(){
 	$("#s3Slider").s3Slider({
		timeOut: 4000
	});
  });
</script>

<div class="content_container">
	<div class="content">
	<div class="spotlight">
		<div class="desc">
			<%= @setting.introduction %><br/><br/>
			<span class="price">AS LOW AS <b><%= @setting.intro_price %></b><br/> per month</span><br/>
			<div class="start">
				<%= link_to('', "#{eval(@setting.link)}") %>
			</div>
		</div>
		<div id="s3Slider_container">
		<div id="s3Slider">
			<ul id="s3SliderContent">
			<% @perspectives.each do |p| %>
			  <li class="s3SliderImage">
			  	<%= link_to(image_tag(p.perspective.url(:medium), :height => '360', :width => '385'), "#{eval(p.link)}") %>
				<%#= image_tag(p.perspective.url(:medium), :height => '360', :width => '385') %>
				<span><%= p.caption %></span>
			  </li>
			<% end %>
			<div class="clear s3SliderImage"></div>
			</ul>
		</div></div>
	</div>
	<div class="clear"></div>
	</div>
</div>
<% end %>

<div class="main_content">
	<div class="first sections">
	<%= render :partial => 'shared/featured' %>
	</div>
	<div class="second sections">
	<%= render :partial => 'shared/featured_news' %>
	</div>
	<div class="third sections">
	<%= render :partial => 'shared/search_form' %>
	</div>
</div>