<% content_for :admin_pages do %>

<div class="inquiries">
	<div class="gray_box">
		<div class="header" id="full_page">
			<h1>Inquiries</h1>	
		</div>
		<div class="content">		

			<table id="inquiries">
				<thead>
					<tr>
						<th>Name</th>
						<th>Subject</th>
						<th>Reason</th>
						<th>Message</th>
						<th>Date Sent</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<% @contacts.each do |c| %>
						<tr>
							<td>
								<%= c.name %><br>
								<%= c.contact_no %><br>
								<%= c.email %>
							</td>
							<td class="center"><%= c.subject %></td>
							<td class="center"><%= c.reason %></td>
							<td width="300px;"><%= c.message %></td>
							<td class="center"><%= format_date_with_time(c.created_at) %></td>
							<td class="center">
								<%= link_to 'Delete', contact_url(c), :method => :delete, :confirm => "Are you sure?" %>
							</td>
						</tr>
					<% end %>	
				</tbody>
			</table>
			<div class="clear"></div>
		</div>
		<div class="footer" id="full"></div>
	</div>
</div>
<br>
<% end %>