<% content_for :property_listings do %>

<h1>Inquiries</h1>

<table id="inquiries">
	<thead>
		<tr>
			<th>Name</th>
			<th>Contact No</th>
			<th>Email Address</th>
			<th>Subject</th>
			<th>Message</th>
			<th>Date Sent</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @contacts.each do |c| %>
			<tr>
				<td><%= c.name %></td>
				<td><%= c.contact_no %></td>
				<td><%= c.email %></td>
				<td><%= c.subject %>
				<td><%= c.message %></td>
				<td><%= format_date(c.created_at) %></td>
				<td>
					<%= link_to 'Delete', contact_url(c), :method => :delete, :confirm => "Are you sure?" %>
				</td>
			</tr>
		<% end %>	
	</tbody>
</table>

<% end %>