<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= page_title %></title>
  <%= meta "description", meta_description %>
  <%= meta "keywords", meta_keywords %>
  <meta content="index,follow" name="robots">
  <meta content="all" name="audience">
  <meta content="worldwide" name="coverage">
  <meta content="Real Estate" name="classification">
  
  <%= stylesheet_link_tag 'application', 'demo_table', 's3slider', 'jquery.lightbox-0.5', 'jquery-ui-1.7.3.custom' %>
  <%# csrf_meta_tag %>
  
  <!--[if IE]>
	<link rel="stylesheet" type="text/css" href="/stylesheets/ie.css" />
  <![endif]-->
</head>
<body>
	<div class="container">
		<%= render :partial => 'layouts/header' %>
		<div class="content">
			<div class="main">
				<%= render :partial => 'layouts/flash_message'%>
				<%= yield %>	
			</div>
			<div class="right_column">
				<%= render :partial => 'shared/right_column' %>
			</div>
			<div class="clear"></div>
		</div>
	</div>	
	<%= render :partial => 'layouts/footer' %>
	
	<script type="text/javascript" src="/rail_stat/tracker_js"></script>
	<noscript>
  		<img src="/rail_stat/track" width="1" height="1" alt="" style="position: absolute;" />
	</noscript>
	<%= javascript_include_tag 'jquery-1.4.2.min.js', 'jquery-ui-1.7.3.custom.min', 'jquery.dataTables.min', 's3Slider', 'jquery.lightbox-0.5.min', 'application' %>
</body>
</html>
